<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Password</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Update Password</div>
          <div class="card-body">
            <p th:text="${failed_notif}" style="color: red"></p>
            <p th:text="${success_notif}" style="color: green"></p>

            <form th:action="@{/user/updatePassword}" method= "POST">
              <label>Password lama:</label>
              <input type="password" name="oldPassword" class="form-control"/>
              <label>Password baru:</label>
              <input type="password" name="newPassword" class= "form-control"/>
              <label>Konfirmasi password baru:</label>
              <input type="password" name="confirmNewPassword" class="form-control"/>
              <br>
              <button type="submit" class="btn btn-success">Simpan</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>